# Example Alpaca credentials used by the backend.
# Replace these with your real credentials or export them
# in the environment when running locally.
ALPACA_API_KEY=AKP4CYCLABN0QHC7GVH4
ALPACA_SECRET_KEY=PwJAEwLnLnsf7qAVvFutE8VIMgsAgvi7PMkMcCca
ALPACA_BASE_URL=https://api.alpaca.markets
ALPACA_DATA_URL=https://data.alpaca.markets/v1beta2
